.timerCountDown {
    float: right;
    margin-top: -20px;
}

.viewHighScore {
    margin-top: 20px;
}

form{
    text-align: center;
    direction: none;
    padding: 150px 100px 0px 150px;

}

.hide {
    display: none;
    
}
li{
    list-style-type: none;
}

span{
padding-left:  560PX;

}